<!DOCTYPE html>
<html ng-app="myapp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Hello banker</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.3.9/angular.js"></script>
    <script src="https://code.angularjs.org/1.3.9/angular-resource.js"></script>
    <script src="bootstrap/angular-cookies.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>

    <script src="appcontrol.js"></script>

    <!-- Скрипт для инициализации элементов на странице, имеющих атрибут data-toggle="tooltip" -->
    <script type="text/javascript">
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>

</head>
<body>
<div   ng-controller="UserController">
<div ng-show = "!isAvtorisation ">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <div ng-show = "!isRegisrtation">
        <form class="form-signin" role="form"  >
            <input ng-model="login" type="login" class="form-control" placeholder="Login" required="" autofocus="">
            <input ng-model="password" type="password" class="form-control" placeholder="Password" required="">
            <label class="checkbox">
                <button type="button" ng-click="onRegistration()" class="btn btn-link">Регистрирация</button>
            </label>
            <button type="submit" ng-click="playSign()" class="btn btn-lg btn-primary btn-block">Войти</button>
        </form>
    </div>
    <div ng-show="isRegisrtation">
    <form class="form-signin" name="regForm" onsubmit="playReg()">
        <div class="form-group"  ng-class="{'has-error' : regForm.name. $invalid}">
            <label>Имя</label>
            <input type="name" name="name" class="form-control" ng-model="nameReg" ng-minlength="5" >
            <p class="help-block" ng-show="regForm.name. $invalid">Имя должно сожержать минимум 5 симовлов</p>
        </div>
        <div class="form-group"  ng-class="{'has-error' : regForm.login. $invalid}">
            <label>Логин</label>
            <input type="login" name="login" class="form-control" ng-model="loginReg" ng-minlength="5" >
            <p class="help-block" ng-show="regForm.login. $invalid">Логин должен сожержать минимум 5 симовлов</p>
        </div>
        <div class="form-group"   ng-class="{'has-error' : regForm.password. $invalid}">
            <label>Пароль</label>
            <input type="password" name="password" class="form-control" ng-model="passwordReg" ng-minlength="5">
            <p class="help-block" ng-show="regForm.password. $invalid">Пароль должен сожержать минимум 5 симовлов</p>
        </div>
        <button ng-click="playReg()" type="submit" ng-disabled="!loginReg || !passwordReg || !nameReg" class="btn btn-lg btn-primary btn-block">Зарегистрироваться</button>
        <button ng-click="backSign()" type="button" class="btn btn-lg btn-primary btn-block">Отмена</button>
    </form>
</div>
</div>
<div ng-if="isAvtorisation">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .padding-top {
            padding-top: 20px;
        }
        .selected {
            background-color: #e1a700;
        }
        tbody tr:hover{
            background: #ffbd00;
        }
        select:empty {
            border: 1px solid red;
        }
        input:invalid {
            border: 1px solid red;
        }

    </style>
    <div align ="right" class="row col-md-offset-8 col-md-3">
        <p>Добро пожаловать, {{sessionUser.name}}
        <button type="button" class="btn btn-primary"  ng-click="signOut()">Выйти</button>
        </p>
    </div>
    <div class="row col-md-offset-1 col-md-10">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#panel1">Заявки на инкассацию</a></li>
        <li ng-show="flagUserRole(2)"><a data-toggle="tab" href="#panel7">Админские панели</a></li>
    </ul>
    <div ng-controller="BankDivisionController">
    <div >
    <div class="tab-content"   >

    <div id="panel1" class="tab-pane fade in active">
        <div class="col-md-10 col-md-offset-1" ng-controller="RequestEncashmentController">
        <div>
            <table class="table  table-stripped  table-condensed" >
                <caption>Заявки на инкассацию </caption>
                <thead>
                    <tr class="info">
                    <th>№ п/п</th>
                    <th>Номер заявки</th>
                    <th>Дата заявки</th>
                    <th>Статус ЭД</th>
                    <th>Тип заявки</th>
                    <th>
                        <div>Сортировать
                            <select ng-model="sortRequest">
                                <option value="numberRequest"> Номер</option>
                                <option value="dateRequest">Дата</option>
                                <option value="statusRequest">Статус</option>
                                <option value="typeRequest.nameType">Тип</option>
                            </select>
                            <input ng-model="filterReques">
                        </div>
                    </th>

                </tr>
                </thead>
                <tbody ng-model="tableRequestBody">
                   <tr ng-repeat="RequestEncashment in RequestEncashments | orderBy:sortRequest |filter:filterReques"
                    ng-click="selectRequestEncashment(RequestEncashment)"
                    ng-class="{selected: RequestEncashment.id == selectedRowRequestEncashment}">
                    <td>{{RequestEncashment.id}} </td>
                    <td>{{RequestEncashment.numberRequest}} </td>
                    <td>{{RequestEncashment.dateRequest | date:'dd.MM.yyyy'}} </td>
                    <td>{{RequestEncashment.statusRequest}} </td>
                    <td>{{RequestEncashment.typeRequest.nameType}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="flagUserRole(1)" ng-init="deleteButtonDisabledRequestEncashment = true">
            <button type="button" data-target="#myModal" class="btn btn-primary" data-toggle="modal" ng-click="initListRequest()">Добавить</button>

            <button type="button" data-target="#myModal" class="btn btn-primary" data-toggle="modal" ng-click="initUpdateRequest()"
               ng-disabled="(deleteButtonDisabledRequestEncashment || (flagStatusRequest && !flagUserRole(2))) ">Изменить</button>

            <button type="button" data-target="#modalSign" class="btn btn-primary" data-toggle="modal"
            ng-disabled="deleteButtonDisabledRequestEncashment">Подписать</button>

            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDellRequest"
                    ng-disabled="deleteButtonDisabledRequestEncashment">Удалить заявку </button>

            <div id="myModalDellRequest" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Запрос на удаление</h4>
                        </div>
                        <div class="modal-body">
                            Вы действительно хотите удалить запись?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                            <button type="button" class="btn btn-danger" ng-click="deleteRequestEncashment()" data-dismiss="modal">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="myModal" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clearAddForm()">×</button>
                        <h4 class="modal-title">Заявка на инкассацию</h4>
                    </div>
                    <form name="sampleForm">
                    <div class="modal-body">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <td ng-class="{'has-error' : sampleForm.typerRequest. $invalid}"><div ng-controller="TypeRequestController"></div>
                                    <select style="width: 100%"  required data-toggle="tooltip" title="Тип заявки, выбираемы при оформлении ЭД" name="typerRequest"
                                            class="form-control" ng-model="typerRequest" ng-options="typ.nameType  for typ in listTypeRequest"></select></td>
                                <td>Тип заявки</td>
                                <td><input required ng-model="nameCompany"></td>
                                <td>Наименование организации</td>
                            </tr>
                            <tr>
                                <td><input style="width: 100%" ng-disabled="!flagUserRole(2)" ng-model="numberRequest" ui-mask="2-9999999"  ui-mask-placeholder ui-mask-placeholder-char="0"> </td>
                                <td> Номер заявки</td>

                                <td><input required data-toggle="tooltip" style="width: 100%"
                                           title="Номер счета в клиента банке, на который требуется зачислить инкассируанные денежные средства"
                                           ng-model="creditAccountNumber" ui-mask="99999999999999999999"></td>
                                <td>Номер счета зачисления</td>
                            </tr>
                            <tr>
                                <td><input style="width: 100%" type="date" ng-model="dateRequest" ng-disabled="!flagUserRole(2)"></td>
                                <td>Дата заявки</td>

                                <td><input required ui-mask="999999999" data-toggle="tooltip" ng-model="bik" style="width: 100%"
                                           title="БИК банка, в который требуется инкассрировать денежные средства" ></td>
                                <td>БИК</td>
                            </tr>
                            <tr>
                                <td><select style="width: 100%" data-toggle="tooltip" title="Тип заявки, выбираемы при оформлении ЭД"
                                            ng-model="statusRequest" ng-options="typ.name for typ in statuss" ng-disabled="!flagUserRole(2)"></select></td>
                                <td>Статус ЭД</td>

                                <td><input required data-toggle="tooltip" title="Счет и реквизиты банка, на который производится перечисление проинкассированых средств"
                                           style="width: 100%" ui-mask="99999999999999999999" ng-model="correspondentAccountNumber"></td>
                                <td>Номер корр. счета банка</td>
                            </tr>
                            <tr>
                                <td ng-class="{'has-error' : sampleForm.bankvisions. $invalid}">
                                    <select style="width: 100%" required data-toggle="tooltip" title="Поразделение банка где обслуживается клиент"
                                            class="form-control" name="bankvisions" ng-model="bankvisions" ng-options="s.nameBankDivision for s in BankDivisions"></select></td>
                                <td>Подразделение банка</td>

                                <td><input required data-toggle="tooltip" title="Наименование банка, в окторый требуется инкассировать денежные средства"
                                           style="width: 100%" ng-model="bankName"></td>
                                <td>Наименование банка</td>
                            </tr>
                            <tr>
                                <td><input style="width: 100%" required ui-mask="9999999999" ng-model="innKio"></td>
                                <td>ИНН/КИО</td>

                                <td><input style="width: 100%" required data-toggle="tooltip" title="SWIFT банка, в который требуется инкассировать денежные средства"
                                        ui-mask="99999999999" ng-model="swift"></td>
                                <td>SWIFT</td>
                            </tr>
                            <tr>
                                <td><input style="width: 100%" ui-mask="999999999" ng-model="kpp"></td>
                                <td>КПП</td>

                                <td><input style="width: 100%" data-toggle="tooltip" title="Указывается дополнительная информация"
                                           ng-model="otherRequesites"></td>
                                <td>Другие реквизиты банка зачисления</td>
                            </tr>
                            <tr>
                                <td><input style="width: 100%" ui-mask="9999999999999" ng-model="ogrn"></td>
                                <td>ОГРН</td>
                                <td><input style="width: 100%" required data-toggle="tooltip" title="Номер телефона для связи" ng-model="phoneAuthorizedOfficer"></td>
                                <td> Номер телефона, факса уполномоченного сотрудника организации клиента для решения вопросов организации инкассации</td>
                            </tr>
                            <tr>
                                <td colspan="2"><input required data-toggle="tooltip" title="ФИО, должность ответсвенного лица"
                                                       style="width: 100%" ng-model="nameAuthorizedOfficer"></td>
                                <td colspan="2">Имя уполномоченного сотрудника организации клиента для решения вопросов организации инкассации</td>
                            </tr>
                            <tr  ng-show="flagUserRole(2)">
                                <td>
                                    <select style="width: 100%" ng-model="userRequest" ng-options="s.name for s in userRequests"></select>
                                </td>
                                <td>Пользователь</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" ng-disabled="sampleForm. $invalid"
                               value="Сохранить" ng-click="addRequestEncashment()"  data-dismiss="modal"/>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="clearAddForm()">Закрыть</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="modalSign" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Выбрать тип подписи</h4>
                        </div>
                        <form name="signForm">
                            <div class="modal-body">
                                 <div class="input-group">
                                     <div class="input-group-addon">
                                         <select style="width: 100%" required ng-model="sign">
                                             <option value="1">Смс пароль</option>
                                             <option value="2">Ключ</option>
                                         </select>
                                     </div>
                                 </div>
                                <div ng-switch="sign">
                                    <div ng-switch-when="1">
                                        <input required type="text">
                                    </div>
                                    <div ng-switch-when="2">
                                        Ключ инициилизирован
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-primary" ng-disabled="signForm. $invalid"
                                       value="OK" data-dismiss="modal" ng-click="signRequest()"/>
                            </div>
                        </form>
                    </div>
                </div>
        </div>

        <div ng-if="selectedRowRequestEncashment" ng-controller="ObjectEncashmentController">
        <table class="table table-stripped  table-condensed">
            <caption>Объекты инкассации </caption>
            <thead>
            <tr class="warning">
                <th>ФИО</th>
                <th>Город</th>
                <th>Улица</th>
                <th>Услуга</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <tr ng-repeat="ObjectEncashment in ObjectEncashments"
                ng-click="selectObjectEncashment(ObjectEncashment)"
                ng-class="{selected: ObjectEncashment.id == selectedRowObjectEncashment}">
                <td>{{ObjectEncashment.objectBoss}} </td>
                <td>{{ObjectEncashment.nameCity}} </td>
                <td>{{ObjectEncashment.street}} </td>
                <td>{{ObjectEncashment.encashmentServices.nameServices}} </td>
            </tr>
            </tbody>
        </table>

        <div id="myModal2" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clearAddObjectForm()">×</button>
                            <h4 class="modal-title">Объект инкассации</h4>
                        </div>
                        <form name="sampleObjectForm">
                        <div class="modal-body">
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <td><input required type="time" data-toggle="tooltip" title="ЧЧ:ММ" ng-model="timeStartEncashment"></td>
                                    <td>Желательное время сдачи</td>

                                    <td ng-class="{'has-error' : sampleObjectForm.currencyDepositMethod. $invalid}">
                                        <div ng-controller="CurrencyDepositMethodController"></div>
                                        <select style="width: 100%" required data-toggle="tooltip" title="Предпочитаемый способ сдачи денежной наличности для инкассации"
                                                class="form-control" name="currencyDepositMethod" ng-model="currencyDepositMethod" ng-options="s.nameMethod for s in listCurrency"/></td>
                                    <td>Способ сдачи</td>
                                </tr>
                                <tr>
                                    <td ng-class="{'has-error' : sampleObjectForm.PeriodicityRequest. $invalid}">
                                        <div ng-controller="PeriodicityRequestController"></div>
                                        <select style="width: 100%" required  data-toggle="tooltip" title="Ежедневно/Рабочие дни/Через день/День недели/По заяве/По звонку"
                                                class="form-control" name="PeriodicityRequest" ng-model="PeriodicityRequest" ng-options="s.namePeriodicity for s in listPeriodicity"/> </td>
                                    <td>Периодичность оказания инкассаторских услуг</td>

                                    <td ng-class="{'has-error' : sampleObjectForm.days. $invalid}">
                                        <div ng-switch on="PeriodicityRequest.namePeriodicity">
                                            <div ng-switch-when="Рабочие дни">
                                                <div>
                                                <input type="time" ng-model="$parent.workDayTimeStart" required
                                                    data-toggle="tooltip" title="Начало работы объекта инкассации в рабочие дни"> с
                                                </div><div>
                                                <input type="time" ng-model="$parent.workDayTimeEnd" required
                                                    data-toggle="tooltip" title="Окончание работы объекта инкассации в рабочие дни"> до
                                                </div>
                                            </div>
                                            <div ng-switch-when="День недели" >
                                                <select  style="width: 100%" required data-toggle="tooltip" title="День недели, выбираемый для оказания услуг по объекту инкассации"
                                                         class="form-control" name="days" ng-model="$parent.days" ng-options="s.name for s in day"></select>
                                                <div ng-switch on="days.name">
                                                    <div ng-switch-when="Суббота">
                                                        <div>
                                                        <input    type="time"  ng-model="$parent.$parent.saturdayTimeStart" required
                                                                  data-toggle="tooltip" title="Начало работы объекта инкассации в суббота"> с
                                                        </div><div>
                                                        <input    type="time" ng-model="$parent.$parent.saturdayTimeEnd" required
                                                                  data-toggle="tooltip" title="Окончание работы объекта инкассации в суббота"> до
                                                        </div>
                                                    </div>
                                                    <div ng-switch-when="Воскресенье">
                                                        <div>
                                                        <input    type="time"  ng-model="$parent.$parent.sundayTimeStart" required
                                                                  data-toggle="tooltip" title="Начало работы объекта инкассации в воскресенье"> с
                                                        </div><div>
                                                        <input    type="time" ng-model="$parent.$parent.sundayTimeEnd" required
                                                                  data-toggle="tooltip" title="Окончание работы объекта инкассации в воскресенье"> до
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                    <td >
                                        <div ng-show="flagPeriodicity('День недели')">День недели</div>
                                        <div ng-show="flagPeriodicity('Рабочие дни')">Рабочие дни</div>
                                        <div ng-show="flagDay('Суббота')&&flagPeriodicity('День недели')">Суббота</div>
                                        <div ng-show="flagDay('Воскресенье')&&flagPeriodicity('День недели')">Воскресенье</div>
                                    </td>


                                </tr>
                                <tr>
                                    <td><input required data-toggle="tooltip" title="Сумма предназначенная клиентом инкассации"
                                               ng-model="cashbox"></td>
                                    <td>Предпологаемый объем денежной наличности</td>

                                    <td ng-class="{'has-error' : sampleObjectForm.obCodeCashob. $invalid}"><div ng-controller="CodeCashController"></div>
                                        <select style="width: 100%" required data-toggle="tooltip" title="Буквенный код валюты" ng-model="obCodeCashob"
                                                class="form-control" name="obCodeCashob" ng-options="s.nameCodeCash for s in listCode"/></td>
                                    <td>Код валюты</td>
                                </tr>
                                <tr>
                                    <td><input required data-toggle="tooltip" title="Контактный телефон руководителя точки юр.лица, по которой подразделение инкассации производит инкассацию"
                                               ng-model="objectBoss"></td>
                                    <td>Руководитель объекта</td>

                                    <td><input required type="date" style="width: 100%"  data-toggle="tooltip" title="ДД.ММ.ГГГГ" ng-model="stroreOpeningDate"></td>
                                    <td>Дата открытия торговой точки</td>
                                </tr>
                                <tr>
                                    <td ng-class="{'has-error' : sampleObjectForm.typeAddress. $invalid}">
                                        <select style="width: 100%" required data-toggle="tooltip" title="Тип адреса объекта инкассации" ng-model="typeAddress"
                                                class="form-control" name="typeAddress" ng-options="s.name for s in typeAddresss"></select></td>
                                    <td>Тип адреса</td>

                                    <td ng-class="{'has-error' : sampleObjectForm.typeCity. $invalid}">
                                        <select style="width: 100%" required data-toggle="tooltip" title="Тип населеного пункта, в котром находится объект инкассации"
                                            class="form-control" name="typeCity" ng-model="typeCity" ng-options="s.name for s in typeCitys"></select></td>
                                    <td>Тип населенного пункта</td>
                                </tr>
                                <tr>
                                    <td><input required data-toggle="tooltip" title="Наименование населенного пункта пункта, в котором находится объект инкассации "
                                               ng-model="nameCity"></td>
                                    <td>Наименование населенного пункта</td>

                                    <td><input style="width: 100%" required data-toggle="tooltip" title="Улица, по которой находится объект инкассации"
                                               ng-model="street"></td>
                                    <td>Улица</td>
                                </tr>
                                <tr>
                                    <td><input required data-toggle="tooltip" title="Номер дома, в котром находится объект инкассации"
                                               ng-model="nomberHouse"></td>
                                    <td>Номер дома</td>

                                    <td><input style="width: 100%" required data-toggle="tooltip" title="Корпус, в котром находится объект инкассации"
                                               ng-model="hoising"></td>
                                    <td>Корпус</td>
                                </tr>
                                <tr>
                                    <td colspan="2" ng-class="{'has-error' : sampleObjectForm.typeCity. $invalid}"><div ng-controller="EncashmentServicesController"></div>
                                        <select style="width: 100%" required ng-model="encashmentServices"
                                                class="form-control" name="encashmentServices" ng-options="s.nameServices for s in listServicet"/></td>
                                    <td colspan="2">Инкассаторская услуга</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" ng-disabled="sampleObjectForm. $invalid"
                                   ng-click="addObjectEncashment()"  data-dismiss="modal" value="Сохранить"/>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"
                                    ng-click="clearAddObjectForm()">Закрыть</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

        <div ng-show="flagUserRole(1)" ng-disabled="selectedRowRequestEncashment" ng-init="deleteButtonDisabledObjectEncashment = true">
            <button type="button" data-target="#myModal2" ng-disabled="flagLengthObject()"
                    class="btn btn-primary" data-toggle="modal" ng-click="initObject()"  >Добавить объект</button>
                <button type="button" data-target="#myModal2" class="btn btn-primary" data-toggle="modal"  ng-click="initObjectUpdate()"
               ng-disabled="deleteButtonDisabledObjectEncashment">Изменить объект</button>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDellObject"
                    ng-disabled="deleteButtonDisabledObjectEncashment">Удалить объект </button>

            <div id="myModalDellObject" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Запрос на удаление</h4>
                        </div>
                        <div class="modal-body">
                            Вы действительно хотите удалить запись?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                            <button type="button" class="btn btn-danger" ng-click="deleteObjectEncashment()" data-dismiss="modal">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-warning" ng-disabled="deleteButtonDisabledObjectEncashment || flagLengthObject()"
                    ng-click="copyObjectEncashment()">Создать копию объекта</button>
        </div>
        </div>
        </div>
    </div>

    <div id="panel7" class="tab-pane fade">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#panel2">Инкассаторские услуги</a></li>
            <li><a data-toggle="tab" href="#panel3">Подразделение банка</a></li>
            <li><a data-toggle="tab" href="#panel4">Тип заявки на инкассацию</a></li>
            <li><a data-toggle="tab" href="#panel5">Способ сдачи наличности</a></li>
            <li><a data-toggle="tab" href="#panel6">Периодичность сдачи наличности</a></li>
            <li><a data-toggle="tab" href="#panel8">Код валюты</a></li>
            <li><a data-toggle="tab" href="#panel9">Пользователи</a></li>
        </ul>
        <div class="tab-content"   >
            <div id="panel2" class="tab-pane fade in active">
            <div class="row"  ng-controller="EncashmentServicesController">
            <div class="col-md-4">
                <table  class="table  table-stripped  table-condensed">
                    <caption>Инкассаторские услуги <button style="text-align:right" type="button"  class="btn btn-success btn-xs"
                                                           ng-click="refreshEncashmentServices()">Обновить</button></caption>
                    <thead>
                        <tr class="info">
                            <th> Название услуги</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="EncashmentServices in EncashmentServicess"
                    ng-click="selectEncashmentServices(EncashmentServices)"
                    ng-class="{selected: EncashmentServices.id == selectedRowEncashmentServices}">
                    <td>{{EncashmentServices.nameServices}} </td>
                </tr>
                    </tbody>

                </table>

                <div align="right" ng-init="deleteButtonDisabled = true">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDellServices"
                            ng-disabled="deleteButtonDisabled">Удалить</button>

                    <div id="myModalDellServices" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Запрос на удаление</h4>
                                </div>
                                <div class="modal-body">
                                    Вы действительно хотите удалить запись?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                                    <button type="button" class="btn btn-danger" ng-click="deleteEncashmentServices()" data-dismiss="modal">Удалить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
            <br><br><br><br>
                <form>
                <div class="input-group">
                    <input type="text" size="100%" class="form-control" data-toggle="tooltip" title="Подсказка"
                           ng-model="nameServices">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary"  ng-click="addEncashmentServices()">Добавить</button>
                    </span>
                </div>
                </form>
            </div>
        </div>
            </div>
            <div id="panel3" class="tab-pane fade" >
            <div  class="row">
                <div class="col-md-4">
                    <table  class="table  table-stripped  table-condensed">
                        <caption>Подразделение банка <button style="text-align:right" type="button"  class="btn btn-success btn-xs"
                                                             ng-click="refreshBankDivisionrefreshBankDivision()">Обновить</button></caption>
                        <thead>
                        <tr class="info">
                            <th>Название подразделение банка</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="BankDivision in BankDivisions"
                            ng-click="selectBankDivision(BankDivision)"
                            ng-class="{selected: BankDivision.id == selectedRowBankDivision}">
                            <td>{{BankDivision.nameBankDivision}} </td>
                        </tr>
                        </tbody>
                    </table>
                    <div align="right" ng-init="deleteButtonDisabled = true">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDellDivision"
                                ng-disabled="deleteButtonDisabled">Удалить</button>
                        <div id="myModalDellDivision" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Запрос на удаление</h4>
                                    </div>
                                    <div class="modal-body">
                                        Вы действительно хотите удалить запись?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                                        <button type="button" class="btn btn-danger" ng-click="deleteBankDivision()" data-dismiss="modal">Удалить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <br><br><br><br>
                    <form>
                        <div class="input-group">
                            <input type="text" size="100%" class="form-control" ng-model="nameBankDivision">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary"  ng-click="addBankDivision()">Добавить</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
            <div id="panel4" class="tab-pane fade">
        <div class="row" ng-controller="TypeRequestController" >
            <div class="col-md-4">
                <table  class="table  table-stripped  table-condensed">
                    <caption>Тип заявки на инкассацию<button style="text-align:right" type="button"  class="btn btn-success btn-xs"
                                                             ng-click="refreshTypeRequest()">Обновить</button></caption>
                    <thead>
                    <tr class="info">
                        <th>Тип заявки</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="TypeRequest in TypeRequests"
                        ng-click="selectTypeRequest(TypeRequest)"
                        ng-class="{selected: TypeRequest.id == selectedRowTypeRequest}">
                        <td>{{TypeRequest.nameType}} </td>
                    </tr>
                    </tbody>
                </table>
                <div align="right" ng-init="deleteButtonDisabledTypeRequest = true">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDellType"
                        ng-disabled="deleteButtonDisabledTypeRequest">Удалить</button>

                <div id="myModalDellType" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Запрос на удаление</h4>
                            </div>
                            <div class="modal-body">
                                Вы действительно хотите удалить запись?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                                <button type="button" class="btn btn-danger" ng-click="deleteTypeRequest()" data-dismiss="modal">Удалить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-5">
                <br><br><br><br>
                <form>
                    <div class="input-group">
                        <input type="text" size="100%" class="form-control" ng-model="nameType">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary"  ng-click="addTypeRequest()">Добавить</button>
                            </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
            <div id="panel5" class="tab-pane fade">
                <div class="row"  ng-controller="CurrencyDepositMethodController">
            <div class="col-md-4">
                <table  class="table  table-stripped  table-condensed">
                    <caption>Способ сдачи наличности<button style="text-align:right" type="button"  class="btn btn-success btn-xs"
                                                            ng-click="refreshCurrencyDepositMethod()">Обновить</button></caption>
                    <thead>
                    <tr class="info">
                        <th>Название услуги</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="CurrencyDepositMethod in CurrencyDepositMethods"
                        ng-click="selectCurrencyDepositMethod(CurrencyDepositMethod)"
                        ng-class="{selected: CurrencyDepositMethod.id == selectedRowCurrencyDepositMethod}">
                        <td>{{CurrencyDepositMethod.nameMethod}} </td>
                    </tr>
                    </tbody>
                </table>

            <div align="right" ng-init="deleteButtonDisabled = true">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDellCurrency"
                        ng-disabled="deleteButtonDisabled">Удалить</button>

                <div id="myModalDellCurrency" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Запрос на удаление</h4>
                            </div>
                            <div class="modal-body">
                                Вы действительно хотите удалить запись?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                                <button type="button" class="btn btn-danger" ng-click="deleteCurrencyDepositMethod()" data-dismiss="modal">Удалить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
                <div class="col-md-5">
                        <br><br><br><br>
                        <form>
                            <div class="input-group">
                                <input type="text" size="100%" class="form-control" ng-model="nameMethod">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary"  ng-click="addCurrencyDepositMethod()">Добавить</button>
                            </span>
                            </div>
                        </form>
                    </div>
        </div>
            </div>
            <div id="panel6" class="tab-pane fade">
                <div class="row" ng-controller="PeriodicityRequestController">
                <div class="col-md-4">
                <table  class="table  table-stripped  table-condensed">
                    <caption>Периодичность сдачи наличности <button style="text-align:right" type="button"  class="btn btn-success btn-xs"
                                                                    ng-click="refreshPeriodicityRequest()">Обновить</button></caption>
                    <thead>
                    <tr class="info">
                        <th>Периодичность</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="PeriodicityRequest in PeriodicityRequests"
                        ng-click="selectPeriodicityRequest(PeriodicityRequest)"
                        ng-class="{selected: PeriodicityRequest.id == selectedRowPeriodicityRequest}">
                        <td>{{PeriodicityRequest.namePeriodicity}} </td>
                    </tr>
                    </tbody>
                </table>

                <div align="right" ng-init="deleteButtonDisabled = true">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDellPeriodicity"
                            ng-disabled="deleteButtonDisabled">Удалить</button>

                    <div id="myModalDellPeriodicity" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Запрос на удаление</h4>
                                </div>
                                <div class="modal-body">
                                    Вы действительно хотите удалить запись?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                                    <button type="button" class="btn btn-danger" ng-click="deletePeriodicityRequest()" data-dismiss="modal">Удалить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-md-5">
                        <br><br><br><br>
                        <form>
                            <div class="input-group">
                                <input type="text" size="100%" class="form-control" ng-model="namePeriodicity">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary"  ng-click="addPeriodicityRequest()">Добавить</button>
                            </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="panel8" class="tab-pane fade">
                <div class="row" ng-controller="CodeCashController" >
            <div class="col-md-4">
                <table  class="table  table-stripped  table-condensed">
                    <caption>Код валюты <button style="text-align:right" type="button"  class="btn btn-success btn-xs"
                                                ng-click="refreshCodeCash()">Обновить</button></caption>
                    <thead>
                    <tr class="info">
                        <th>Название кода валюты</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="CodeCash in CodeCashs"
                        ng-click="selectCodeCash(CodeCash)"
                        ng-class="{selected: CodeCash.id == selectedRowCodeCash}">
                        <td>{{CodeCash.nameCodeCash}} </td>
                    </tr>
                    </tbody>
                </table>
                <div align="right" ng-init="deleteButtonDisabled = true">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDellCodeCash"
                            ng-disabled="deleteButtonDisabled">Удалить</button>

                    <div id="myModalDellCodeCash" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Запрос на удаление</h4>
                                </div>
                                <div class="modal-body">
                                    Вы действительно хотите удалить запись?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                                    <button type="button" class="btn btn-danger" ng-click="deleteCodeCash()" data-dismiss="modal">Удалить</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5"><br><br><br><br>
            <form>
                <div class="input-group">
                    <input type="text" ui-mask="AAA" class="form-control" data-toggle="tooltip"
                           title="Буквенный код валюты" ng-model="nameCodeCash">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary"  ng-click="addCodeCash()">Добавить</button>
                    </span>
                </div>
            </form>
            </div>

        </div>
            </div>
            <div id="panel9" class="tab-pane fade" >
                <div class="row"  ng-controller="UserController">
                    <div class="col-md-4">
                        <table  class="table  table-stripped  table-condensed">
                            <caption>Пользователи <button type="button"  class="btn btn-success btn-xs"
                                                                   ng-click="refreshUser()">Обновить</button></caption>
                            <thead>
                            <tr class="info">
                                <th>Имя</th>
                                <th>Логин</th>
                                <th>Роль</th>
                                <th>Пароль</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="User in users"
                                ng-click="selectUser(User)"
                                ng-class="{selected: User.id == selectedRowUser}">
                                <td>{{User.name}} </td>
                                <td>{{User.login}} </td>
                                <td>{{User.role}} </td>
                                <td>{{User.password}} </td>
                            </tr>
                            </tbody>

                        </table>

                        <div align="right" ng-init="deleteButtonDisabledUser = true">
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDellUser"
                                    ng-disabled="deleteButtonDisabled">Удалить</button>

                            <div id="myModalDellUser" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Запрос на удаление</h4>
                                        </div>
                                        <div class="modal-body">
                                            Вы действительно хотите удалить запись?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                                            <button type="button" class="btn btn-danger" ng-click="deleteUser()" data-dismiss="modal">Удалить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-5">
                        <br><br><br><br>
                        <form>
                            <div class="input-group">
                                <input type="text"  size="100%" class="form-control"  ng-model="nameUser">
                                <input type="text"  size="100%" class="form-control"  ng-model="loginUser">
                                <select width="10px"  style="width: 100%"  ng-model="roleUser" ng-options="s.name for s in roles"></select>
                                <input type="text"  size="100%" class="form-control"  ng-model="paswwordUser">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary "  ng-click="addUser()">Добавить</button>
                                <button type="button" class="btn btn-primary "  ng-click="updateUser()">Изменить</button>
                            </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
</div>
</body>
</html>